<<<<<<< HEAD:static/css/chatbot_styles.css
body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif;
}

#header h1 {
    color: #333;
}

.logo h1 {
    color: #007bff;
    font-size: 24px;
}

#chat-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#chat {
    height: 300px;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.user-message {
    background-color: #007bff;
    color: white;
    text-align: right;
    float: right;
    clear: both;
}

.ai-message {
    background-color: #e9ecef;
    color: black;
    text-align: left;
    float: left;
    clear: both;
}

.message-label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 5px;
}

#user-input-container {
    padding: 15px;
}

#user-input {
    border-radius: 20px;
    box-shadow: none;
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#footer {
    color: #666;
    font-size: 0.8em;
    text-align: center;
    padding: 15px 0;
}
=======
body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
}

#header h1 {
    color: #333;
}

.logo h1 {
    color: #007bff;
    font-size: 24px;
}
.container{
    height: 64vh;
}

#chat-container {
    background-color: #fff;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
    border: 2px solid #ffffff;
    display: flex;
    flex-direction: column;
   

}

#chat {
    flex-grow: 1;
    overflow-y: auto; 
    padding: 10px; 
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    display: inline-block;
    max-width: 80%;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.user-message {
    background-color: #333;
    color: white;
    text-align: right;
    float: right;
    clear: both;
}

.ai-message {
    background-color: #e9ecef;
    color: #333;
    text-align: left;
    float: left;
    clear: both;
}

.message-label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 5px;
}

#user-input-container {
    padding: 15px;
   
    margin-top: auto;
    
    
}

#user-input {
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;

    box-shadow: none;
    border-color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 5px;
    border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
    
}

 #footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  
}


>>>>>>> bc437afada1061267faccce188142640612eff6c:static/chatbot_styles.css
