html {
    scroll-behavior: smooth;
}
.get-flashed-messeges{
    display: none;
}
body{
    background:#ffffff ;
}

.card {
    width: 600px; /* Set your desired width */
    height: 500px; /* Set your desired height */
    padding: 20px; /* Set your desired padding */
    position: relative; /* Required for positioning pseudo-element */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
    border: 2px solid #ffffff;
    background: #333;
    color: #ffffff;
    overflow: hidden; /* Hide the overflow for pseudo-element */
}

.card::after {
    content: ''; /* Required for pseudo-element */
    position: absolute; /* Position the pseudo-element */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align at the left */
    width: 100%; /* Make the line span the entire width */
    height: 6px; /* Increase the thickness of the line */
    background-color: #007bff; /* Color of the line */
    animation: moveLine 10s infinite; /* Apply animation */
}

@keyframes moveLine {
    0% { transform: translateX(-100%); } /* Move the line to the left */
    100% { transform: translateX(100%); } /* Move the line to the right */
}


.form-group input:focus {
    box-shadow: none;
}
.form-group input:hover{
    border: 4px solid #007bff;
}
