<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Video Generator </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ai_bytes.css') }}">
    
</head>
<body>
    <div class="container">
        <header>
            <h1>AI Image Caption Video Hi {{username}} !</h1>
			<h2 style="color: white;"><a href="/home" style="color: inherit; text-decoration: none;">Home</a></h2>

        </header>
        <main>
            <form action="/ai_caption" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*">
                <input type="submit" value="Upload">
            </form>
            {% if video_generated %}
                <div class="video-container">
                    <video controls>
                        <source src="{{ url_for('static', filename='AI_Caption_Video/' + username + '.mp4') }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            {% endif %}
        </main>
    </div>
</body>
</html>
