<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatBot</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../static/chatbot_styles.css">
</head>
<body>
    <div class="container">
        <div id="header" class="text-center my-4">
            <h1>Hi {{username}}!</h1>
        </div>
		
        
        <div class="text-center logo mb-4">
            <img src="./static/logo.png" alt="" class="img-fluid">
            <h1>LEGAL ASSISTANCE</h1>
        </div>
        
        <div id="chat-container" class="mb-4">
            <div id="chat" class="border p-3 mb-3"></div>
            <div id="user-input-container" class="input-group">
                <input type="text" id="user-input" class="form-control" placeholder="Type your message..." autofocus>
                <div class="input-group-append">
                    <button id="send-button" type="button" class="btn btn-primary">Send</button>
                    <button id="clear-button" type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </div>

        
    </div>

    <footer class="chat-assistant-footer">
        <div id="footer" class="text-center mt-4">
            &copy; This bot is powered by OpenAI API key | This bot may produce inaccurate information about people, places, or facts. Please contact a qualified individual for better legal advice.| 2023 | CONTACT: RAKESH H R (TECHNICAL SUPPORT API ISSUE)

        </div>
    </footer>

    <!-- Bootstrap JS and Popper.js (Optional) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Your custom script -->
   
    <script src="{{ url_for('static', filename='js/chatbot_script.js') }}"></script>
	<script>
        // Add Enter key functionality to send message
        document.getElementById('user-input').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById('send-button').click();
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            var inputText = document.getElementById("user-input");
            var chatContainer = document.getElementById("chat");
            var clearButton = document.getElementById("clear-button");

         
            clearButton.addEventListener("click", function() {
                inputText.value = "";
                chatContainer.innerHTML = "";
            });
        });
    </script>
</body>
</html>
