<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login </title>
</head>
<body>
    <div class="get-flashed-messeges">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
    </div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <article class="card-body">
                        <h4 class="card-title mb-4 mt-1">Sign in </h4>
                        <form method="POST">
                            <div class="form-group">
                                <label>Your email</label>
                                <input name="email" class="form-control" placeholder="Email" type="email" >
                            </div>
                            <div class="form-group">
                                <label>Your password</label>
                                <input name="password" class="form-control" placeholder="******" type="password" >
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endif %}
                        </form>
						<div class="mt-4">
                            <p>create an account? <a href="{{ url_for('signup') }}" >create account</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
